@mixin slide-transform($direction) {
  @if $direction=='left' {
    transform: translate($slide-animation-distance * -1, 0);
  }

  @else if $direction=='top-left' {
    transform: translate($slide-animation-distance * -0.7, $slide-animation-distance * -0.7);
  }

  @else if $direction=='top' {
    transform: translate(0, $slide-animation-distance * -1);
  }

  @else if $direction=='top-right' {
    transform: translate($slide-animation-distance * 0.7, $slide-animation-distance * -0.7);
  }

  @else if $direction=='right' {
    transform: translate($slide-animation-distance, 0);
  }

  @else {
    transform: translate($slide-animation-distance * -1, 0);
  }
}

@mixin slide($direction) {
  @media only screen and (min-width: $bp-md) {

    .nav-fade-slide-#{$direction}-leave,
    .nav-fade-slide-#{$direction}-enter {
      @include slide-transform($direction);
      opacity: 0;
    }

    .nav-fade-slide-#{$direction}-enter-to,
    .nav-fade-slide-#{$direction}-leave-to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

}

@include slide('left');
@include slide('top-left');
@include slide('top');
@include slide('top-right');
@include slide('right');