#app {
    height: 100vh;
    background-color: white;
}

@media only screen and (max-width: $bp-lg) {

    .desktop-only {
        display: none;
    }
}
@media only screen and (min-width: $bp-sm) {

    .mobile-only {
        display: none;
    }
}


.copyright {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: .3rem;
    margin-right: .3rem;
}

.content {
    height: 50%;
    position: relative;
    z-index: 7;
    background-color: white;
    overflow: hidden;
}

// .diagonal {
//     height: 200%;
//     width: 30%;
//     display: inline-block;
//     position: absolute;
//     transform: rotate(20deg);
//     transition: transform .5s ease-in-out;
//     overflow: hidden;
//     top: -25%;
//     border-left: 10px solid white;

//     &:first-child {
//         z-index: 1;
//         left: 0%;
//         overflow: visible;
//     }

//     &:nth-child(2) {
//         z-index: 2;
//         left: 15%;
//     }

//     &:nth-child(3) {
//         z-index: 3;
//         left: 30%;
//     }

//     &:nth-child(4) {
//         z-index: 4;
//         left: 45%;
//     }

//     &:nth-child(5) {
//         z-index: 5;
//         left: 60%;
//     }

//     &:nth-child(6) {
//         z-index: 6;
//         left: 75%;
//     }
// }

// .banner {
//     height: 145%;
//     width: 100%;
//     background-repeat: no-repeat;
//     transform: rotate(-20deg);

//     &-1 {
//         z-index: 1;
//         left: 0;
//         background-image: url(~@/assets/img/banner_1.jpg);
//         background-position: 77% 14.5%;
//         background-size: 86%;
//     }

//     &-2 {
//         z-index: 2;
//         left: 15%;
//         background-image: url(~@/assets/img/banner_2.jpg);
//         background-size: 83%;
//         background-position: 98% 14.5%;
//         transform: rotate(-20deg) rotateY(-180deg);
//     }

//     &-3 {
//         z-index: 3;
//         left: 30%;
//         background-image: url(~@/assets/img/banner_3.jpg);
//         background-position: -30% 14%;
//         background-size: 123%;
//     }

//     &-4 {
//         z-index: 4;
//         left: 45%;
//         background-image: url(~@/assets/img/banner_4.jpg);
//         background-size: 83%;
//         background-position: -10% 14%;
//     }

//     &-5 {
//         z-index: 5;
//         left: 60%;
//         background-image: url(~@/assets/img/banner_5.jpg);
//         background-size: 124%;
//         background-position: 8% 14%;
//     }

//     &-6 {
//         z-index: 6;
//         left: 75%;
//         background-image: url(~@/assets/img/logo.png);
//         background-color: $primary-color;
//         background-size: 94%;
//         background-position: 190% 13%;
//     }
// }

footer {
    height: 25%;
}