.diagonal {
    backface-visibility: hidden;
    width: 100% * (1/6);
    height: 140%;
    overflow: hidden;
    position: absolute;
    top: -20%;
    display: inline-block;
    transform: rotate(20deg);
    background-color: #fff;
    border-right: 1rem solid rgb(255, 255, 255);

    &:first-of-type {
        left: -4%;
        z-index: 6;
    }

    &:nth-of-type(2) {
        left: 100% * (1/6) - 4%;
        z-index: 5;
    }

    &:nth-of-type(3) {
        left: 100% * (2/6) - 4%;
        z-index: 4;
    }

    &:nth-of-type(4) {
        left: 100% * (3/6) - 4%;
        z-index: 3;
    }

    &:nth-of-type(5) {
        left: 100% * (4/6) - 4%;
        z-index: 2;
    }

    &:nth-of-type(6) {
        left: 100% * (5/6) - 4%;
        z-index: 1;
        overflow: visible;
        background-color: $primary-color;
    }

    & .banner {
        position: absolute;
        width: 154%;
        height: 100%;
        top: 12%;
        left: -14%;
        z-index: -1;
        transform: rotate(-20deg);
        &-1 {
            background: url(~@/assets/img/banner_1.jpg) no-repeat;
            background-position: 0% 50%;
            background-size: cover;
            top: 4%;
            left: 30%;
            &.visible {
                background: url(~@/assets/img/banner_1-min.jpg)no-repeat;
            }
        }

        &-2 {
            background: url(~@/assets/img/banner_2.jpg)no-repeat;
            background-position: 100% 50%;
            background-size: cover;
            transform: rotate(-20deg) rotateY(180deg);
            &.visible {
                background: url(~@/assets/img/banner_2-min.jpg)no-repeat;
            }
        }

        &-3 {
            background: url(~@/assets/img/banner_3.jpg) no-repeat;
            background-position: 0% 50%;
            background-size: cover;
            &.visible {
                background: url(~@/assets/img/banner_3-min.jpg)no-repeat;
            }
        }

        &-4 {
            background: url(~@/assets/img/banner_4.jpg) no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            &.visible {
                background: url(~@/assets/img/banner_4-min.jpg)no-repeat;
            }
        }

        &-5 {
            background: url(~@/assets/img/banner_5.jpg) no-repeat;
            background-position: 20% 50%;
            background-size: cover;
            &.visible {
                background: url(~@/assets/img/banner_5-min.jpg)no-repeat;
            }
        }

        &-logo {
            background: url(~@/assets/img/logo.png) no-repeat;
            background-position: 100% 25%;
            background-color: #7ea2a0;
            background-size: 80%;
            &.visible {
                background: url(~@/assets/img/logo-min.png) no-repeat;
            }
        }
    }
}