@mixin justify-content($property) {
    &.jc-#{$property}{
        justify-content: $property;
    }
}
@mixin align-items($property) {
    &.ai-#{$property}{
        align-items: $property;
    }
}
@mixin align-content($property) {
    &.ac-#{$property}{
        align-content: $property;
    }
}

@include justify-content(flex-start);
@include justify-content(flex-end);
@include justify-content(center);
@include justify-content(space-around);
@include justify-content(space-between);
@include justify-content(space-evenly);

@include align-items(flex-start);
@include align-items(flex-end);
@include align-items(center);
@include align-items(space-around);
@include align-items(space-between);
@include align-items(space-evenly);

@include align-content(flex-start);
@include align-content(flex-end);
@include align-content(center);
@include align-content(stretch);
@include align-content(space-around);
@include align-content(space-between);
@include align-content(space-evenly);

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

@mixin flex-grow($size) {
    .flex-grow-#{$size} {
        flex-grow: $size;
    }
}
@mixin flex-shrink($size) {
    .flex-shrink-#{$size} {
        flex-shrink: $size;
    }
}
@mixin flex-basis($size) {
    .flex-basis-#{$size} {
        flex-basis: unquote($size + '%');
    }
}

@include flex-grow(1);
@include flex-grow(2);
@include flex-grow(3);
@include flex-grow(4);
@include flex-grow(5);

@include flex-shrink(1);
@include flex-shrink(2);
@include flex-shrink(3);
@include flex-shrink(4);
@include flex-shrink(5);

@include flex-basis(20);
@include flex-basis(40);
@include flex-basis(60);
@include flex-basis(80);
@include flex-basis(100);

@mixin flex($size, $breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        .flex-#{$size} {
            display: flex;
            flex-direction: row;

            &-column {
                flex-direction: column;
            }
        }
    }
}
@include flex(xs, $bp-xs);
@include flex(sm, $bp-sm);
@include flex(md, $bp-md);
@include flex(lg, $bp-lg);
@include flex(xl, $bp-xl);