@font-face {
    font-family: 'Fashion Fetish';
    src: url(~@/assets/fonts/fashionfetishlight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Fashion Fetish';
    src: url(~@/assets/fonts/fashionfetishregular.ttf);
    font-weight: normal;
}