.nav {
    height: 25%;
    background-color: white;

    &-link {
        font-size: $large-font-size;
        margin-right: 2.5rem;
        transition: opacity 1s, transform 1s;

        &:last-child {
            margin-right: 5rem;
        }

        &.router-link-exact-active {
            color: darken($primary-color, 10%);
        }

        &:hover,
        a:focus {
            color: $primary-color;
        }
    }
}
.mobile-nav {
    margin-top: 10rem;
    &-link{
        &.router-link-exact-active {
            border-bottom: #555 dashed .1rem;
        }
    }
}

header {
    padding: 1rem;
    background-color: white;
}

.menu-button-open {
    width: 2rem;
    padding: .25rem;
    span {
        display: block;
        margin: .5rem 0;
        background-color: #333;
        width: 2rem;
        height: 0.2rem;
    }
}
.menu-button-close {
    width: 2rem;
    padding: 2.5rem 1.25rem;
    float: right;
    span {
        display: block;
        background-color: #333;
        width: 2rem;
        height: 0.2rem;
        &:first-child{
            transform: rotate(45deg);
            margin-bottom: -0.2rem;
        }
        &:last-child{
            transform: rotate(-45deg);
        }
    }
}

aside {
    position: fixed;
    top: 0;
    right: -28rem;
    width: 28rem;
    height: 100vh;
    z-index: 1000;
    background-color: $primary-color;
    transform: translateX(0);
    transition: transform 0.25s;

    &.open {
        transform: translateX(-28rem);
    }

    ul {
        list-style: none;
        li {
            padding-bottom: 2.5rem;
        }
    }
}