html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-size: $regular-font-size;
    font-family: 'Fashion Fetish',sans-serif;
    color: $font-color;
    overflow: hidden;
}
a,a:hover,a:visited,a:focus {
    color: $font-color;
    text-decoration: none;
}