$small-font-size: 1.6rem;
$regular-font-size: 2rem;
$large-font-size: 2.4rem;

$slide-animation-distance: 10rem;

$banner-x: 15%;
$banner-y: 10%;

$font-color: #3e3e3e;
$primary-color: #7ea2a0;

$bp-xs: 300px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1280px;
$bp-xl: 1600px;