<template>
  <main class="content">
    <div class="diagonal">
      <div class="banner banner-1" />
    </div>

    <div class="diagonal">
      <div class="banner banner-2" />
    </div>

    <div class="diagonal">
      <div class="banner banner-3" />
    </div>

    <div class="diagonal">
      <div class="banner banner-4" />
    </div>

    <div class="diagonal">
      <div class="banner banner-5" />
    </div>

    <div class="diagonal">
      <div class="banner banner-logo" />
    </div>
  </main>
</template>

<script>
export default {};
</script>
