<template>
  <div
    id="app"
    class="flex-lg-column flex-md-column flex-sm-column flex-xs-column jc-space-between"
  >
    <header class="mobile-only flex-xs jc-space-between">
      <div class="brand">masuca</div>
      <div class="menu-button-open" @click="isMenuOpen = !isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
    <aside :class="{ open: isMenuOpen }">
      <div class="menu-button-close" @click="isMenuOpen = !isMenuOpen">
        <span></span>
        <span></span>
      </div>
      <nav class="mobile-nav">
        <ul @click="isMenuOpen = !isMenuOpen">
          <li>
            <router-link class="mobile-nav-link" to="/">ana sayfa</router-link>
          </li>
          <li>
            <router-link class="mobile-nav-link" to="/about">masuca</router-link>
          </li>
          <li>
            <router-link class="mobile-nav-link" to="/shop">dükkan</router-link>
          </li>
          <li>
            <router-link class="mobile-nav-link" to="/catalog">katalog</router-link>
          </li>
          <li>
            <router-link class="mobile-nav-link" to="/contact">iletişim</router-link>
          </li>
        </ul>
      </nav>
    </aside>
    <nav class="nav flex-xs jc-flex-end desktop-only ai-center">
      <transition name="nav-fade-slide-left" appear>
        <router-link class="nav-link" to="/">ana sayfa</router-link>
      </transition>
      <transition name="nav-fade-slide-top-left" appear>
        <router-link class="nav-link" to="/about">masuca</router-link>
      </transition>
      <transition name="nav-fade-slide-top" appear>
        <router-link class="nav-link" to="/shop">dükkan</router-link>
      </transition>
      <transition name="nav-fade-slide-top-right" appear>
        <router-link class="nav-link" to="/catalog">katalog</router-link>
      </transition>
      <transition name="nav-fade-slide-right" appear>
        <router-link class="nav-link" to="/contact">iletişim</router-link>
      </transition>
    </nav>
    <router-view />
    <footer class="flex-xs jc-flex-end ai-flex-end">
      <div class="copyright">Uğur Eliaçık &#169;</div>
    </footer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isMenuOpen: true
    };
  }
};
</script>
<style lang="scss">
@import "@/styles/main.scss";
</style>
